extends layout.pug

block link
	-var selected = 'About';

block content
	.col
	.col-lg-9.col-md-10.col-xs-12.mr-auto
		.page-header
			h1 About
		hr
		.post-heading
			h2 Here is an empty page description about me.
	.col