extends layout.pug

block link
  -var selected = 'home';

block content
  .col-lg-10.col-md-11.ml-3
    .page-header
      h1
        | Home
    hr
    .home-intro
      h1 Hi, I'm Jihyun.
      br
      h3 I am writing (words and code) about politics of code.
      