extends layout.pug

block link
  -var selected = 'home';

block content
  .col
  .col-lg-9.col-md-10.col-xs-12.mr-auto
    .page-header
      h1
        | Home
    hr
    .home-intro
      h1 Hi, I'm Jihyun.
      br
      h3 I am writing (words and code) about politics of code.
  .col