doctype html
html(lang='en')
	block link
		-var selected = 'Home';
	-var menu = {'Home' : '/', 'About': '/about', 'Writing' : '/writing', 'Projects': '/projects'};

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content="Jihyun's website")
		meta(name='author', content='Jihyun Kim')
		title= selected
		// Bootstrap core CSS
		link(href='../vendor/bootstrap.min.css', rel='stylesheet')
		// Custom styles for this template
		link(href='../css/style.css', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Nunito:300,400,700|Open+Sans:400,700', rel='stylesheet')
		link(href='https://fonts.googleapis.com/css?family=Lora:400,700', rel='stylesheet')
		link(rel='stylesheet', href='https://opensource.keycdn.com/fontawesome/4.7.0/font-awesome.min.css')
		link(rel='shortcut icon' href='../favicon.ico')

	body
		.container
			header.header.clearfix
				h3#header-name.sidebar-brand Jihyun Kim

				nav
					ul.nav.justify-content-center
						each val, key in menu
							if selected === key
								li.nav-item
									a.nav-link.active-page(href=val, title=key)= key
							else
								li.nav-item
									a.nav-link(href=val, title=key)= key
			main(role='main')
				.container
					.row
						block content
					block article

			footer.footer
				.container
					ul.nav.justify-content-center.footer-ul
						li.list-inline-item.ml-3
							a.sociali(href='https://twitter.com/jihjihk')
								span.fa-stack.fa-lg
									i.fa.fa-twitter.fa-stack-1x
						li.list-inline-item
							a.sociali(href='https://github.com/jihjihk')
								span.fa-stack.fa-lg
									i.fa.fa-github.fa-stack-1x


		

		script(src='vendor/jquery.min.js')
		script(src='vendor/bootstrap.min.js')