extends layout.pug

block link
	-var selected = 'projects';
block content
	.col-lg-10.col-md-11
		.page-header
			h1
				| Projects on 
				a(href='https://github.com/pierredepaz/politics-of-code') Politics of Code
		hr
		.post-heading
			h1= title
			h2.subheading= subtitle
			p.meta= date

block article
	article
		.container
			.row
				.col-lg-8.col-md-10
					p !{text}