extends layout.pug

block link
  -var selected = 'Writing'

block content
  .col
  .col-lg-9.col-md-10.col-xs-12.mr-auto
    .page-header
      h1
        | Writings on 
        a(href='https://github.com/pierredepaz/politics-of-code') Politics of Code
    hr
    each writing in allWriting
      .post-preview
        a(href= '/writing/'+writing.week)
          h2.post-title= writing.title
          h3.post-subtitle= writing.subtitle
        p.post-meta= writing.date
  .col